In [1]:
import pandas as pd
import numpy as np

# in each case below, append the name of the dataset.csv
web_path = 'https://www.openintro.org/data/csv/' # url path to openintro.org data
loc_path = %pwd # local path if you had downloaded the data

# Chapter 1

---
## Case study: using stents to prevent strokes
[video](https://www.openintro.org/go?id=video_stat_stents_to_prevent_strokes&referrer=/book/os/index.php)

## Table 1.1

In [4]:
p_30 = pd.read_csv(web_path+"stent30.csv", header=0, names=['group', '0-30 days'])
p_365 = pd.read_csv(web_path+"stent365.csv", header=0, names=['group', '0-365 days'])

one_one = p_30.merge(p_365, 
    on='group', 
    left_index=True,
    right_index=True
    ).set_index(np.arange(1, 452))

one_one.index.name = 'patient'
one_one

             group 0-30 days 0-365 days
patient
1        treatment    stroke     stroke
2        treatment    stroke     stroke
3        treatment    stroke     stroke
4        treatment    stroke     stroke
5        treatment    stroke     stroke
...            ...       ...        ...
447        control  no event   no event
448        control  no event   no event
449        control  no event   no event
450        control  no event   no event
451        control  no event   no event

[451 rows x 3 columns]

## Table 1.2

In [3]:
pieces = {
    '0-30':(p_30
            .pivot_table(index='group', 
            columns=['0-30 days'], 
            aggfunc=len)[::-1].T[::-1]),
            
    '0-365':(p_365
            .pivot_table(index='group', 
            columns=['0-365 days'], 
            aggfunc=len)[::-1].T[::-1])
    
} ## [::-1].T[::-1] to sort the table

one_two = pd.concat(
    pieces, 
    names=['days', 'outcome'],
    ).T

one_two

days        0-30           0-365
outcome   stroke no event stroke no event
group
treatment     33      191     45      179
control       13      214     28      199

## Data basics
[video](https://www.openintro.org/go?id=video_stat_data_basics&referrer=/book/os/index.php)

### Table 1.3

In [8]:
one_three = pd.read_csv(
    web_path+"email50.csv", 
    header=0)
one_three.head()

,spam,to_multiple,from,cc,sent_email,time,image,attach,dollar,winner,...,viagra,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,0,0,1,0,1,2012-01-04 05:19:16,0,0,0,no,...,0,0,21.705,551,1,1,0,0,8,small
1,0,0,1,0,0,2012-02-16 12:10:06,0,0,0,no,...,0,0,7.011,183,1,0,0,0,1,big
2,1,0,1,4,0,2012-01-04 07:36:23,0,2,0,no,...,0,0,0.631,28,0,0,0,0,2,none
3,0,0,1,0,0,2012-01-04 09:49:52,0,0,0,no,...,0,0,2.454,61,0,0,0,0,1,small
4,0,0,1,0,0,2012-01-27 01:34:45,0,0,9,no,...,0,1,41.623,1088,1,0,0,0,43,small

### Table 1.4

#### Variables:

-    **spam** - Indicator for whether the email was spam.
-    **to_multiple** - Indicator for whether the email was addressed to more than one recipient.
-    **from** - Whether the message was listed as from anyone (this is usually set by default for regular outgoing email).
-    **cc** - Indicator for whether anyone was CCed.
-    **sent_email** - Indicator for whether the sender had been sent an email in the last 30 days.
-    **time** - Time at which email was sent.
-    **image** - The number of images attached.
-    **attach** - The number of attached files.
-    **dollar** - The number of times a dollar sign or the word "dollar" appeared in the email.
-    **winner** - Indicates whether "winner" appeared in the email.
-    **inherit** - The number of times "inherit" (or an extension, such as "inheritance") appeared in the email.
-    **viagra** - The number of times "viagra" appeared in the email.
-    **password** - The number of times "password" appeared in the email.
-    **num_char** - The number of characters in the email, in thousands.
-    **line_breaks** - The number of line breaks in the email (does not count text wrapping).
-    **format** - Indicates whether the email was written using HTML (e.g. may have included bolding or active links).
-    **re_subj** - Whether the subject started with "Re:", "RE:", "re:", or "rE:"
-    **exclaim_subj** - Whether there was an exclamation point in the subject.
-    **urgent_subj** - Whether the word "urgent" was in the email subject.
-    **exclaim_mess** - The number of exclamation points in the email message.
-    **period_mess** - The number of periods in the message.
-    **signoff** - Whether a sign-off of "Cheers", "Regards", or "Best" (also, "Best Regards") was used.
-    **number** - Factor variable saying whether there was no number, a small number (under 1 million), or a big number.

---

In [10]:
one_three

,spam,to_multiple,from,cc,sent_email,time,image,attach,dollar,winner,...,viagra,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,0,0,1,0,1,2012-01-04 05:19:16,0,0,0,no,...,0,0,21.705,551,1,1,0,0,8,small
1,0,0,1,0,0,2012-02-16 12:10:06,0,0,0,no,...,0,0,7.011,183,1,0,0,0,1,big
2,1,0,1,4,0,2012-01-04 07:36:23,0,2,0,no,...,0,0,0.631,28,0,0,0,0,2,none
3,0,0,1,0,0,2012-01-04 09:49:52,0,0,0,no,...,0,0,2.454,61,0,0,0,0,1,small
4,0,0,1,0,0,2012-01-27 01:34:45,0,0,9,no,...,0,1,41.623,1088,1,0,0,0,43,small
5,0,0,1,0,0,2012-01-17 09:31:57,0,0,0,no,...,0,0,0.057,5,0,0,0,0,0,small
6,0,0,1,0,0,2012-03-17 21:18:55,0,0,0,no,...,0,0,0.809,17,0,0,0,0,0,small
7,0,0,1,0,1,2012-03-31 06:58:56,0,0,0,no,...,0,0,5.229,88,1,1,0,0,2,small
8,0,0,1,1,1,2012-01-10 17:57:54,0,0,0,no,...,0,0,9.277,242,1,1,1,0,22,small
9,0,0,1,0,0,2012-01-07 11:29:16,0,0,23,no,...,0,0,17.170,578,1,0,0,0,3,small
10,0,0,1,0,0,2012-02-22 16:57:02,0,0,4,no,...,0,0,64.401,1167,1,0,0,0,13,small
11,0,0,1,0,0,2012-02-04 15:26:09,0,0,0,no,...,0,2,10.368,198,1,0,0,0,1,big
12,1,0,1,0,0,2012-01-24 08:15:56,0,0,3,yes,...,0,0,42.793,712,1,0,0,0,2,big
13,1,1,1,0,0,2012-02-08 18:22:46,0,2,2,no,...,0,0,0.451,24,0,0,0,0,2,small
14,0,0,1,0,0,2012-03-09 10:46:12,0,0,0,no,...,0,0,29.233,604,1,0,0,0,21,small
15,0,0,1,0,1,2012-01-12 08:17:53,0,0,0,no,...,0,0,9.794,197,1,1,0,0,10,small
16,0,0,1,0,1,2012-01-31 11:44:22,0,0,0,no,...,0,0,2.139,60,1,1,0,0,0,small
17,1,0,1,0,0,2012-03-20 19:00:30,0,1,0,no,...,0,0,0.130,5,0,0,0,0,0,none
18,0,0,1,1,1,2012-01-03 11:39:06,0,0,0,no,...,0,8,4.945,120,1,0,0,0,2,small
19,0,1,1,4,0,2012-03-28 17:48:08,0,0,2,no,...,0,0,11.533,291,1,1,0,0,4,small
20,0,0,1,0,0,2012-01-09 07:04:18,0,0,0,no,...,0,0,5.682,87,1,0,0,0,0,small
21,0,0,1,0,0,2012-01-14 02:07:03,0,0,0,no,...,0,0,6.768,81,1,0,0,0,3,small
22,0,0,1,0,1,2012-03-24 08:00:57,0,0,0,no,...,0,0,0.086,5,0,0,1,0,0,none
23,0,0,1,2,1,2012-01-12 13:43:42,0,0,0,no,...,0,0,3.070,65,1,1,0,0,0,small
24,0,0,1,0,0,2012-03-02 11:05:22,0,0,2,no,...,0,0,26.520,692,1,0,1,0,7,big
25,0,0,1,0,0,2012-02-15 20:01:40,0,0,0,no,...,0,0,26.255,654,1,0,0,0,1,small
26,0,0,1,0,1,2012-02-09 05:51:43,0,0,0,no,...,0,0,5.259,140,1,1,0,0,8,small
27,0,1,1,5,0,2012-01-23 06:03:19,0,0,0,no,...,0,0,2.780,69,0,1,0,0,1,small
28,0,0,1,0,1,2012-02-01 08:12:20,0,0,0,no,...,0,0,5.864,142,1,1,0,0,6,small
29,0,1,1,0,0,2012-03-23 10:42:28,0,0,0,no,...,0,0,9.928,219,1,0,0,0,4,small
30,0,0,1,0,0,2012-02-14 05:43:48,0,0,0,no,...,0,2,25.209,725,1,0,0,0,2,small
31,0,0,1,0,0,2012-01-19 15:33:55,0,0,0,no,...,0,0,6.563,140,1,0,0,0,2,big
32,0,0,1,0,0,2012-01-21 09:35:48,0,0,0,no,...,0,0,24.599,621,1,0,0,0,1,small
33,0,0,1,0,0,2012-01-25 14:37:06,0,0,0,no,...,0,0,25.757,645,1,0,0,0,1,small
34,0,1,1,0,0,2012-03-06 09:03:41,0,0,0,no,...,0,0,0.409,13,0,0,0,0,1,small
35,0,0,1,0,1,2012-03-25 14:08:44,0,0,0,no,...,0,0,11.223,512,1,0,0,0,9,big
36,0,0,1,0,0,2012-02-14 16:17:09,0,0,0,no,...,0,0,3.778,98,1,0,0,0,0,small
37,0,0,1,0,0,2012-03-01 02:00:01,0,0,0,no,...,0,2,1.493,35,0,0,0,0,1,none
38,0,0,1,0,0,2012-02-10 10:34:42,0,0,0,no,...,0,8,10.613,225,1,0,0,0,9,big
39,0,0,1,0,1,2012-01-12 13:44:54,0,0,0,no,...,0,0,0.493,13,1,0,0,0,0,none
40,0,1,1,0,0,2012-01-06 12:14:47,0,0,0,no,...,0,0,4.415,61,0,0,0,0,1,small
41,0,0,1,1,1,2012-03-21 08:39:21,0,0,0,no,...,0,0,14.156,300,1,1,0,0,0,small
42,0,0,1,0,1,2012-02-13 12:19:36,0,0,0,no,...,0,0,9.491,233,1,1,0,0,18,small
43,0,0,1,0,0,2012-01-25 14:18:37,0,0,0,no,...,0,0,24.837,629,1,0,0,0,1,small
44,0,0,1,0,0,2012-01-24 15:44:52,0,0,0,no,...,0,0,0.684,17,1,0,0,0,1,small
45,1,0,1,0,0,2012-02-29 15:36:55,0,0,0,no,...,0,0,13.502,193,0,0,0,0,1,none
46,0,1,1,0,0,2012-03-06 06:10:00,0,0,0,no,...,0,0,2.789,44,0,0,0,0,0,small
47,0,0,1,0,1,2012-03-14 10:08:27,0,0,0,no,...,0,0,1.169,35,1,1,0,0,0,small
48,0,0,1,1,1,2012-02-10 08:27:48,0,0,0,no,...,0,0,8.937,211,1,1,0,0,2,small
49,0,0,1,0,0,2012-01-04 10:27:36,0,0,0,no,...,0,0,15.829,242,1,0,0,0,4,small