In [33]:
import pandas as pd
import numpy as np

web_path = 'https://www.openintro.org/data/csv/'
loc_path = %pwd

# Chapter 1

recreation on tables in book

---

## 1.1

In [48]:
p_30 = pd.read_csv(web_path+"stent30.csv", header=0)
p_365 = pd.read_csv(web_path+"stent365.csv", header=0)

one_one = pd.concat(
    objs=[p_30, p_365], 
    names=['days', 'outcome'],
    axis=1
    ).reindex(np.arange(1, 452)) # reindex to start from 1


one_one

         group   outcome      group   outcome
1    treatment    stroke  treatment    stroke
2    treatment    stroke  treatment    stroke
3    treatment    stroke  treatment    stroke
4    treatment    stroke  treatment    stroke
5    treatment    stroke  treatment    stroke
..         ...       ...        ...       ...
447    control  no event    control  no event
448    control  no event    control  no event
449    control  no event    control  no event
450    control  no event    control  no event
451        NaN       NaN        NaN       NaN

[451 rows x 4 columns]

In [24]:
pieces = {
    '30':(p_30
            .pivot_table(index='group', 
            columns=['outcome'], 
            aggfunc=len)[::-1].T[::-1]),
            
    '365':(p_365
            .pivot_table(index='group', 
            columns=['outcome'], 
            aggfunc=len)[::-1].T[::-1])
    
} # [::-1] * 2 to exact replicate R table in the book

df = pd.concat(
    pieces, 
    names=['days', 'outcome'],
    ).T

print(df)

days          30             365
outcome   stroke no event stroke no event
group
treatment     33      191     45      179
control       13      214     28      199