In [127]:
import pandas as pd
import numpy as np

# in each case below, append the name of the dataset.csv
web_path = 'https://www.openintro.org/data/csv/' # url path to openintro.org data
loc_path = %pwd # local path if you had downloaded the data

# Chapter 1

recreation of tables in book

---

## 1.1

In [135]:
p_30 = pd.read_csv(web_path+"stent30.csv", header=0, names=['group', '0-30 days'])
p_365 = pd.read_csv(web_path+"stent365.csv", header=0, names=['group', '0-365 days'])

one_one = p_30.merge(p_365, 
    on='group', 
    left_index=True,
    right_index=True
    ).set_index(np.arange(1, 452))

one_one.index.name = 'patient'
one_one

             group 0-30 days 0-365 days
patient
1        treatment    stroke     stroke
2        treatment    stroke     stroke
3        treatment    stroke     stroke
4        treatment    stroke     stroke
5        treatment    stroke     stroke
...            ...       ...        ...
447        control  no event   no event
448        control  no event   no event
449        control  no event   no event
450        control  no event   no event
451        control  no event   no event

[451 rows x 3 columns]

## 1.2

In [138]:
# p_30 = pd.read_csv(web_path+"stent30.csv", header=0, names=['group', '0-30 days'])
# p_365 = pd.read_csv(web_path+"stent365.csv", header=0, names=['group', '0-365 days'])

pieces = {
    '0-30':(p_30
            .pivot_table(index='group', 
            columns=['0-30 days'], 
            aggfunc=len)[::-1].T[::-1]),
            
    '0-365':(p_365
            .pivot_table(index='group', 
            columns=['0-365 days'], 
            aggfunc=len)[::-1].T[::-1])
    
} # [::-1] * 2 to exact replicate R table in the book

one_two = pd.concat(
    pieces, 
    names=['days', 'outcome'],
    ).T

one_two

days        0-30           0-365
outcome   stroke no event stroke no event
group
treatment     33      191     45      179
control       13      214     28      199